.list__item {
    list-style-type: none;
    padding: 10px;
    margin-left: 0px;
    border: 2px;
    border-radius: 10px;
    background-color: rgb(62, 172, 62);
}

.list {
    padding-left: 0px;
    padding-bottom: 15px;
    line-height: 1.2;
    border-bottom: 1px solid rgb(62, 172, 62);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
